body{
    background-image: url('../img/login_background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
      justify-content: left;
      align-items:first baseline;
      height: 100vh;
      margin: 0;
      flex-direction: column;
  }

  .logo_backdrop{
    position:absolute;
    margin-top: 20px;
      width: 105px;
      height: 200px;
      padding: 10px;
      border-radius: 15px;
      margin-right:10px;
      margin-left: 35px;
      background-color: #423f3fcb;
      z-index: 0;
  }

  .container {
    margin-top: 0px;
      width: 95px;
      height: auto;
      background-color: rgba(226, 226, 226, 0);
      padding: 10px;
      border-radius: 15px;
      margin-right:10px;
      z-index: 1;
  }

  .menuItem1{
    display: none;
  }

  .menuItem{
    margin-left:20px;
    margin-right:20px;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    font-family: monospace;
    color: #e4e4e4;
    border-radius: 15px;
    font-size: 30px;
    display:flex;
    flex-direction: row;
    padding:10px;
    transition: 0.2s ease-in-out;
  }

  .menuItem:hover{
    color: #18d496;
    transition: 0.2s ease-in-out;
  }

  .menuItem-description{
    margin-right: 20px;
    align-self: center;
    justify-content: center;
    cursor: pointer;
    font-family: monospace;
    color: #18d496;
    border-radius: 15px;
    font-size: 20px;
    display:flex;
    transition: left 0.5s ease-in-out;
  }

  .menuItem-description1{
    transition: right 0.5s ease-in-out;
    display: none;
  }

  .slide-out{
    font-size: 17px;
    margin-left:-5px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display:flex;
    margin-right:5px;
  }

  .menu{
    display: flex;
    position:absolute;
    border-radius: 15px;
    justify-content: center;
    align-self: center;
    background-color: #423f3fcb;
    margin-top: 20px;
    width:auto;
    padding: 10px;
    height:auto;
  }

  .test{
    display: flex;
    flex-direction: column;
    position:absolute;
    border-radius: 15px;
    justify-content: center;
    align-self: center;
    background-color: #423f3fcb;
    margin-top: 10%;
    width:50%;
    padding: 10px;
    height:400px;
  }

  .dashboard{
    display: flex;
    position:absolute;
    border-radius: 15px;
    justify-content: center;
    align-self: center;
    background-color: #423f3fcb;
    margin-top: 10%;
    width:27%;
    padding: 10px;
    height:275px;
    margin-left:68%;
  }
  
  .logo{
    margin-left: 44px;
    margin-top: 30px;
    width:105px;
    height:79px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #bdbcbca8;
    transition:0.2s ease-in-out;
    z-index: 1;
  }

  .logo:hover{
    transition:0.2s ease-in-out;
    background-color: rgba(235, 11, 197, 0.747);
  }

  .logItem{
    margin-left:31%;
    align-self: center;
    justify-self: center;
    margin-top: 10px;
    cursor: pointer;
    font-family: monospace;
    color: #e4e4e4;
    border-radius: 15px;
    font-size: 22px;
    transition: 0.2s ease-in-out;
  }
  .logItem1{
    margin-left:34%;
    align-self: center;
    justify-self: center;
    margin-top: 10px;
    cursor: pointer;
    font-family: monospace;
    color: #e4e4e4;
    border-radius: 15px;
    font-size: 22px;
    transition: 0.2s ease-in-out;
  }

  .logItem:hover{
    color: #18d496;
    transition: 0.2s ease-in-out;
  }
  .logItem1:hover{
    color: #18d496;
    transition: 0.2s ease-in-out;
  }


  .signtext{
    margin-left:-17px;
    align-self: center;
    justify-self: center;
    margin-top: 1px;
    cursor: pointer;
    font-family: monospace;
    color: #e4e4e4;
    border-radius: 15px;
    margin-right:10px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
  }
  .signtext1{
    margin-left:-14px;
    align-self: center;
    justify-self: center;
    margin-top: 1px;
    cursor: pointer;
    font-family: monospace;
    color: #e4e4e4;
    border-radius: 15px;
    margin-right:10px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
  }
  .signtext2{
    margin-left:-15px;
    align-self: center;
    justify-self: center;
    margin-top: 1px;
    cursor: pointer;
    font-family: monospace;
    color: #e4e4e4;
    border-radius: 15px;
    margin-right:10px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
  }
  .signtext3{
    margin-left:-11px;
    align-self: center;
    justify-self: center;
    margin-top: 1px;
    cursor: pointer;
    font-family: monospace;
    color: #e4e4e4;
    border-radius: 15px;
    margin-right:10px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
  }

.label-left{
  position: inherit;
  color: white;
  margin-left:-75%;
  margin-top:84%;
}

.label-right{
  position:inherit;
  color: white;
  margin-left:75%;
  margin-top:84%;
}

.audio{
  margin-top:55%;
}

.add_btn{
  display: flex;
  justify-content: center;
  color: #e4e4e4;
  font-size: 35px;
  font-family: monospace;
  height:10%;
  width:100%;
}

.search_bar{
  margin-left:10px;
  width: 25%;
  font-family: monospace;
  padding: 10px;
  border-radius: 15px;
}

.select_bar{
  margin-left:5px;
  width:25%;
  font-family: monospace;
  padding: 10px;
  border-radius: 15px;
}

.filter_bar{
  margin-left:5px;
  width:16%;
  font-family: monospace;
  padding: 10px;
  border-radius: 15px;
}

.filter_bar.off{
  background-color: #5c5b5b;
}

.search_bar.off{
  background-color: #5c5b5b;}

.select_bar.off{
  background-color: #5c5b5b;}

.fa-regular.fa-square-plus.fa-fade{
  cursor: pointer;
}

.user_add_song{
  font-family: monospace;
  margin-left:10px;
  width: 10%;
  padding: 10px;
  border-radius: 15px;
}

.user_add_song.off{
  background-color: #5c5b5b;
}

.song_container{
  background-color: #000000;
  margin-top:4%;
  width:100%;
  height:80%;
  border-radius: 15px;
  overflow: auto;
}

.list_item{
  margin-left:1.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top:10px;
  background-color: #5c5b5b;
  border-radius: 15px;
  padding: 10px;
  width: 90%;
}

.list_item_img{
  margin-left: 5px;
  width: 50px;
  height: 50px;
}

.list_item_title{
  color:#e4e4e4;
  font-size: 18px;
  font-family: monospace;
  font-weight: bold;
  margin-left:15px;
  width:35%;
}

.list_item_artist{
  color:#e4e4e4;
  font-size: 14px;
  font-family: monospace;
  margin-left:30px;
  width:25%
}

.fa-regular.fa-circle-play{
  color:#e4e4e4;
  margin-left:20px;
  font-size: 24px;
  cursor: pointer;
}

.fa-regular.fa-heart{
  color:#e4e4e4;
  margin-left:20px;
  font-size: 24px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.fa-regular.fa-heart.hit{
  color:#e049a1;
  margin-left:20px;
  font-size: 24px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.fa-regular.fa-heart:hover{
  transition: 0.2s ease-in-out;
  color: #e049a1;
}

.fa-solid.fa-ellipsis{
  color:#e4e4e4;
  margin-left:32px;
  font-size: 24px;
  cursor: pointer;
}